:root {
    --mainColor: #111727;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}


body {
    font-family: 'Raleway', sans-serif;
}

.main {
    display: flex;
}

/*.main .first {}*/

.main .first .image {
    margin-left: -113px;
}

.main .first .image img {
    width: 500px;
    height: 621px;
}

@media(max-width:1000px) {
    .main .first {
        display: none;
    }
}

.main .first .btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

.main .first .btn button {
    border: none;
    background-color: var(--mainColor);
    padding: 10px;
    border-radius: 20px;
}

.main .first .btn button p {
    color: #ffffff;
}

.main .first .btn button p a {
    text-decoration: none;
    color: #0095f6;
}

.main .first .btn button p a:hover {
    text-decoration: underline;
}

.main .second {
    margin-left: auto;
    margin-right: auto;
}

.main .second .logo {
    margin-top: 30px;
}

.main .second .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.main .second .logo a img {
    width: 40px;
    height: 40px;
    padding-right: 3px;
}

.main .second .logo a h1 {
    font-size: 20px;
    color: var(--mainColor);
}

@media (max-width:1000px) {
    .main .second .logo a h1 {
        display: none;
    }
}


.main .second .head {
    margin-top: 50px;
}

.main .second .head h1 {
    font-size: 15px;
    color: var(--mainColor);
}

@media (min-width:1000px) {
    .main .second .head h1 {
        font-size: 30px;
    }
}


/*.second .forms {}*/

.second .forms .input-1 {
    margin-top: 25px;
}

.second .forms .input-1 input {
    border: none;
    border-bottom: 1px solid #e8e9e9;
    width: 300px;
}

.second .forms .input-2 {
    margin-top: 25px;
}

.second .forms .input-2 input {
    border: none;
    border-bottom: 1px solid #e8e9e9;
    width: 300px;
}

.second .forms .input-3 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.second .forms .input-3 button {
    border: none;
    background-color: var(--mainColor);
    padding: 10px;
    border-radius: 30px;
    width: 300px;
    cursor: pointer;
}

.second .forms .input-3 button h1 {
    color: #ffffff;
    font-size: 20px;
}

@media (min-width:1000px) {
    .second .forms .input-1 input {
        width: 500px;
    }

    .second .forms .input-2 input {
        width: 500px;
    }

    .second .forms .input-3 button {
        width: 500px;
    }
}

.second .btn-1 {
    display: none;
    margin-top: 30px;
}

.second .btn-1 p {
    color: var(--main-Color);
}

.second .btn-1 p a {
    text-decoration: none;
    color: #0095f6;
}

.second .btn-1 p a:hover {
    text-decoration: underline;
}

@media (max-width:1000px) {
    .second .btn-1 {
        display: block;
    }
}





::selection {
    background-color: #beefff;
    color: var(--main-Color);
}