:root {
  --first-Color: #080D10;
  --second-Color: #ffffff;
  --main-Margin: ;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media(min-width:992px) {
  .container {
    width: 970px;
  }
}

@media(min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.nav {
  background-color: #9fd3ff;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 20px 0 rgba(46, 61, 73, .2);
  margin-bottom: 100px;
}

.nav a {
  text-decoration: none;
}

.nav .imgg {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-right: -10px;
}

.nav .imgg img {
  width: 17px;
  height: 17px;
}

@media(min-width:1000px) {
  .nav .imgg img {
    width: 40px;
    height: 40px;
  }
}

.nav .imgg h1 {
  color: var(--first-Color);
  font-size: 17px;
}

@media(min-width:1000px) {
  .nav .imgg h1 {
    font-size: 30px;
    margin-left: 10px;
  }
}

.nav .nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}


.nav .nav-1 .logo-1 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-2 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-3 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-4 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-5 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-6 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-7 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-8 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-9 img {
  width: 17px;
  height: 17px;
}

@media(min-width:1000px) {
  .nav .nav-1 .logo-1 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-2 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-3 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-4 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-5 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-6 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-7 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-8 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-9 img {
    width: 40px;
    height: 40px;
  }
}


.head {
  margin-bottom: 300px;
}

.head h1 {
  color: black;
}

.head h1::before {
  content: "";
  height: 3px;
  position: absolute;
  margin-top: 35px;
  margin-left: 5px;
  background-color: hwb(353 14% 5%);
  width: 100px;
}

@media(min-width:1000px) {
  .car-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
  }
}

@media(min-width:500px) {
  .car-1 #img-1 {
    margin-bottom: Auto;
    margin-top: Auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
}

@media(min-width:1000px) {
  .car-1 #img-1 {
    width: 500px;
    height: 400px;
    border-radius: 40px;
  }
}

@media(min-width:500px) {
  .car-1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
}

.car-1 {
  background-color: #EFFBFF;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 200px;
}

.car-1:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

.car-1 .img-1 {
  width: 280px;
  height: 200px;
  border-radius: 10px;
}

.car-1 h1 {
  font-size: 20px;
}

.car-1 .text-1 #En-1 {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

@media(min-width:1000px) {
  .car-1 .text-1 #En-1 {
    width: 50px;
    height: 50px;
  }
}

.car-1 .text-1 p {
  line-height: 1.6;
  font-size: 19px;
}

.car-1 .text-1 p .hybrid {
  background-color: #fafcc3;
}

.car-1 .text-1 p #price::before {
  content: "";
  width: 280px;
  height: 1px;
  background-color: gray;
  position: absolute;
}

.car-1 .text-1 p a {
  text-decoration: none;
}

.car-1 .text-1 p a .buy {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: #ffd302;
  margin-top: 15px;
  border-radius: 20px;
  padding: 5px;
  color: black;
}

.car-1 .text-1 p a .buy:hover {
  opacity: 0.7;
}

.car-1 .text-1 p a #now {
  padding-left: 5px;
  font-size: 30px;
  color: black;
}

@media(min-width:1000px) {
  .car-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
  }
}

@media(min-width:500px) {
  .car-2 #img-2 {
    margin-bottom: Auto;
    margin-top: Auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
}

@media(min-width:1000px) {
  .car-2 #img-2 {
    width: 500px;
    height: 400px;
    border-radius: 40px;
  }
}

@media(min-width:500px) {
  .car-2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
}

.car-2 {
  background-color: #EFFBFF;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 200px;
}

.car-2:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

.car-2 .img-2 {
  width: 280px;
  height: 200px;
  border-radius: 20px;
}

.car-2 h1 {
  font-size: 20px;
}

.car-2 .text-2 #En-2 {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

@media(min-width:1000px) {
  .car-2 .text-2 #En-2 {
    width: 50px;
    height: 50px;
  }
}

.car-2 .text-2 p {
  line-height: 1.6;
  font-size: 19px;
}

.car-2 .text-2 p #price::before {
  content: "";
  width: 280px;
  height: 1px;
  background-color: gray;
  position: absolute;
}

.car-2 .text-2 p a {
  text-decoration: none;
}

.car-2 .text-2 p a .buy {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: #ffd302;
  margin-top: 15px;
  border-radius: 20px;
  padding: 5px;
  color: black;
}

.car-2 .text-2 p a .buy:hover {
  opacity: 0.7;
}

.car-2 .text-2 p a #now {
  padding-left: 5px;
  font-size: 30px;
  color: black;
}

@media(min-width:1000px) {
  .car-3 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
  }
}

@media(min-width:500px) {
  .car-3 #img-3 {
    margin-bottom: Auto;
    margin-top: Auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
}

@media(min-width:1000px) {
  .car-3 #img-3 {
    width: 500px;
    height: 400px;
    border-radius: 40px;
  }
}

@media(min-width:500px) {
  .car-3 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
}

.car-3 {
  background-color: #EFFBFF;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 200px;
}

.car-3:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

.car-3 .img-3 {
  width: 280px;
  height: 200px;
  border-radius: 20px;
}

.car-3 h1 {
  font-size: 20px;
}

.car-3 .text-3 #En-3 {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

@media(min-width:1000px) {
  .car-3 .text-3 #En-3 {
    width: 50px;
    height: 50px;
  }
}

.car-3 .text-3 p {
  line-height: 1.6;
  font-size: 19px;
}

.car-3 .text-3 p #price::before {
  content: "";
  width: 280px;
  height: 1px;
  background-color: gray;
  position: absolute;
}

.car-3 .text-3 p a {
  text-decoration: none;
}

.car-3 .text-3 p a .buy {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: #ffd302;
  margin-top: 15px;
  border-radius: 20px;
  padding: 5px;
  color: black;
}

.car-3 .text-3 p a .buy:hover {
  opacity: 0.7;
}

.car-3 .text-3 p a #now {
  padding-left: 5px;
  font-size: 30px;
  color: black;
}

@media(min-width:1000px) {
  .car-4 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
  }
}

@media(min-width:500px) {
  .car-4 #img-4 {
    margin-bottom: Auto;
    margin-top: Auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
}

@media(min-width:1000px) {
  .car-4 #img-4 {
    width: 500px;
    height: 400px;
    border-radius: 40px;
  }
}

@media(min-width:500px) {
  .car-4 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
}

.car-4 {
  background-color: #EFFBFF;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 200px;
}

.car-4:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

.car-4 .img-4 {
  width: 280px;
  height: 200px;
  border-radius: 20px;
}

.car-4 h1 {
  font-size: 20px;
}

.car-4 .text-4 #En-4 {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

@media(min-width:1000px) {
  .car-4 .text-4 #En-4 {
    width: 50px;
    height: 50px;
  }
}

.car-4 .text-4 p {
  line-height: 1.6;
  font-size: 19px;
}

.car-4 .text-4 p #price::before {
  content: "";
  width: 280px;
  height: 1px;
  background-color: gray;
  position: absolute;
}

.car-4 .text-4 p a {
  text-decoration: none;
}

.car-4 .text-4 p a .buy {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: #ffd302;
  margin-top: 15px;
  border-radius: 20px;
  padding: 5px;
  color: black;
}

.car-4 .text-4 p a .buy:hover {
  opacity: 0.7;
}

.car-4 .text-4 p a #now {
  padding-left: 5px;
  font-size: 30px;
  color: black;
}

@media(min-width:1000px) {
  .car-5 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
  }
}

@media(min-width:500px) {
  .car-5 #img-5 {
    margin-bottom: Auto;
    margin-top: Auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
}

@media(min-width:1000px) {
  .car-5 #img-5 {
    width: 500px;
    height: 400px;
    border-radius: 40px;
  }
}

@media(min-width:500px) {
  .car-5 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
}

.car-5 {
  background-color: #EFFBFF;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 200px;
}

.car-5:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

.car-5 .img-5 {
  width: 280px;
  height: 200px;
  border-radius: 20px;
}

.car-5 h1 {
  font-size: 20px;
}

.car-5 .text-5 #En-5 {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

@media(min-width:1000px) {
  .car-5 .text-5 #En-5 {
    width: 50px;
    height: 50px;
  }
}

.car-5 .text-5 p {
  line-height: 1.6;
  font-size: 19px;
}

.car-5 .text-5 p #price::before {
  content: "";
  width: 280px;
  height: 1px;
  background-color: gray;
  position: absolute;
}

.car-5 .text-5 p a {
  text-decoration: none;
}

.car-5 .text-5 p a .buy {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: #ffd302;
  margin-top: 15px;
  border-radius: 20px;
  padding: 5px;
  color: black;
}

.car-5 .text-5 p a .buy:hover {
  opacity: 0.7;
}

.car-5 .text-5 p a #now {
  padding-left: 5px;
  font-size: 30px;
  color: black;
}

.thank {
  display: flex;
  justify-content: center;
  background-color: #880E9D;
  /* background-color:#95C1EB;*/
  border-radius: 10px;
  margin-bottom: 100px;
}

.thank h1 {
  color: var(--second-Color);
  font-size: 12px;
  padding: 10px;
}

@media(min-width:1000px) {
  .thank h1 {
    font-size: 23px;
  }
}

/*.thank::before{
  content:"";
  width:350px;
  height:2px;
  position:absolute;
  background-color:red;
  margin-top:100px;
  
}*/

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--second-Color);
  border-radius: 9px;
  width: 300px;
  height: 50px;
}

.feedback::before {
  content: "";
  width: 302px;
  height: 52px;
  background-image: linear-gradient(90deg, #753a88,
      #cc2b5e,
      #02aab0,
      #00cdac);
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.feedback .logo {
  padding: 10px;
}

.feedback .logo span {
  color: var(--first-Color);
}

/*.feedback .text {}*/

.feedback .text a {
  text-decoration: none;
}

.feedback .text a h1 {
  color: var(--first-Color);
  font-size: 25px;
}


@media(min-width:500px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
}


@media(min-width:1000px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
}

.footer {
  background-image: url("Photos/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color:#C1EDFF;*/
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -20px;
  margin-top: 200px;
}

.footer .logo {
  padding: 20px;
  display: flex;
  align-items: center;
}

.footer .logo a {
  text-decoration: none;
}

.footer .logo img {
  width: 50px;
  height: 50px;
  padding-right: 5px;
}

.footer .logo h1 {
  color: black;
}

.footer .con {
  padding: 20px;
}

.footer .con h1 {}

.footer .con a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  line-height: 2;
}

.footer .con a #mail {
  font-size: 17px;
}

.footer .con a #sms {
  font-size: 17px;
}

.footer .con a #loc {
  font-size: 17px;
}


.footer .soc {
  padding: 20px;
}

.footer .soc h1 {}

.footer .soc a {}

.footer .soc a img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

.terms {
  background-image: url("Photos/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color:#C1EDFF;*/
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -20px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.terms::before {
  content: "";
  width: 350px;
  height: 1px;
  background-color: #cecece;
  position: absolute;
}

@media(min-width:1000px) {
  .terms::before {
    width: 900px;
  }
}