:root {
  --first-Color: #080D10;
  --second-Color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media(min-width:992px) {
  .container {
    width: 970px;
  }
}

@media(min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  background-color: hwb(353 14% 5%);
  border: none;
  font-weight: bold;
  padding: 6px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 100;
  cursor: pointer;
}

.btn #btn {
  font-size: 20px;
  color: var(--second-Color);
}

@media(min-width:1000px) {
  .btn {
    width: 40px;
    height: 40px;
  }

  .btn #btn {
    font-size: 20px;
  }
}

.nav {
  background-color: #9fd3ff;
  /*background-color: powderblue;*/
  /* padding: 10px;*/
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 20px 0 rgba(46, 61, 73, .2);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav a {
  text-decoration: none;
}

.nav .imgg h1 {
  color: var(--first-Color);
  font-size: 17px;
}

@media(min-width:1000px) {
  .nav .imgg h1 {
    font-size: 30px;
    margin-left: 10px;
  }
}

.nav .imgg {
  display: flex;
  align-items: center;
  margin: 0px;
  /*margin-right: -30px;*/
}

.nav .imgg img {
  width: 17px;
  height: 17px;
}

@media(min-width:1000px) {
  /*.nav .imgg {
    margin-right: -130px;
  }*/

  .nav .imgg img {
    width: 40px;
    height: 40px;
  }
}

.nav .nav-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -30px;
  margin-top: 5px;
}

/*@media(min-width:1000px) {
  .nav .nav-1 {
    padding-top: px;
  }
}*/
.nav .nav-1 .logo-1 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-2 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-3 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-4 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-5 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-6 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-7 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-8 img {
  width: 17px;
  height: 17px;
}

.nav .nav-1 .logo-9 img {
  width: 17px;
  height: 17px;
}

@media(min-width:1000px) {
  .nav .nav-1 .logo-1 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-2 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-3 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-4 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-5 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-6 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-7 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-8 img {
    width: 40px;
    height: 40px;
  }

  .nav .nav-1 .logo-9 img {
    width: 40px;
    height: 40px;
  }
}

.dropbtn {
  background-color: #9fd3ff;
  border: none;
  cursor: pointer;
}

.dropbtn span {
  font-size: 20px;
  color: var(--first-Color);
}

@media(min-width:1000px) {
  .dropbtn span {
    font-size: 30px;
  }

  .dropbtn {
    margin-left: 25px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
}

@media(min-width:1000px) {

  .dropdown {
    margin-right: 30px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  height: 1200%;
  width: 1000%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* top: ;*/
  right: 1px;
  background-color: var(--second-Color);
  border-radius: 3%;
  /*overflow: hidden;*/
}

.dropdown-content a {
  color: var(--first-Color);
  padding-left: 20px;
  padding-right: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: block;
  display: flex;
}

.dropdown-content a #span {
  transform: translate(170px, 0px);
}

.dropdown-content a #span1 {
  transform: translate(190px, 0px);
}

@media(min-width:1000px) {
  .dropdown-content a #span {
    transform: translate(255px, 0px);
  }

  .dropdown-content a #span1 {
    transform: translate(290px, 0px);
  }
}

.dropdown-content .fastCon {
  position: absolute;
  bottom: 0px;
  margin: 20px;
}

.dropdown-content .fastCon input {
  border: 1px solid black;
  border-radius: 5px;
  width: 280px;
  padding: 15px;
}

.dropdown-content .fastCon button {
  background-color: #880E9D;
  border: none;
  color: var(--second-Color);
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  width: 280px;
  font-weight: bold;
}

@media(min-width:1000px) {
  .dropdown-content .fastCon {
    margin: 40px;
  }

  .dropdown-content .fastCon input {
    width: 400px;
  }

  .dropdown-content .fastCon button {
    width: 400px;
    font-size: 20px;
  }
}

@media(min-width:1000px) {
  .dropdown-content {
    width: 500px;
    height: 500px;
    top: 45px;
  }
}

@media(min-width:1000px) {
  .dropdown-content a {
    transform: translate(0px, 50px);
    font-size: 30px;
    padding-left: 30px;
  }
}

.dropdown-content a:hover {
  color: #9fd3f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.wel {
  line-height: 1.6;
  padding-top: 300px;
  padding-bottom: 200px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 200px;
  /* background-color: #0075ff;*/
  /* background-color: #4ab9cc;*/
  background-image: url("Photos/mobil landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wel .wel-1 {
  display: flex;
  justify-content: center;
  animation-name: change-place;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.wel .wel-1 h1 {
  /*background-image: linear-gradient(90deg,    #000088,
     #00aaff,
     #00ffff);*/
  background-image: linear-gradient(to right, #B2FEFA, #0ED2F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*color:#75ecf3;*/
  font-size: 30px;
}

@media(min-width:1000px) {
  .wel .wel-1 {
    margin-top: -80px;
    align-items: center;
  }

  .wel .wel-1 h1 {
    font-size: 50px;
    margin-top: -400px;
  }
}

.wel p {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -20px;
  color: var(--second-Color);
}

@media(min-width:1000px) {
  .wel {
    background-image: url("Photos/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 700px;
    padding-bottom: 100px;
  }

  .wel p {
    font-size: 20px;
    margin-top: -15%;
  }
}

.scroll {
  display: flex;
  justify-content: center;
  margin-top: -160px;
  margin-bottom: 200px;
  animation-name: change-place;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.scroll a {
  text-decoration: none;
}

.scroll a i {
  color: var(--first-Color);
  font-size: 30px;
}

@media(min-width:1000px) {
  .scroll a i {
    font-size: 50px;
  }
}

.occ {
  margin-bottom: 300px;
}

.occ .image {
  display: flex;
  justify-content: center;
}

.occ .image img {
  width: 320px;
  height: 200px;
  border-radius: 10px;
}

.occ h1 {
  color: var(--first-Color);
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
}

@media(min-width:1000px) {
  .occ .image img {
    width: 500px;
    height: 400px;
    border-radius: 20px;
  }

  .occ h1 {
    font-size: 20px;
  }
}

.about {
  margin-bottom: 300px;
}

.about h1 {
  color: var(--first-Color);
  display: flex;
  justify-content: center;
}

.about h1::before {
  content: "";
  height: 3px;
  position: absolute;
  margin-top: 35px;
  margin-right: 38px;
  background-color: hwb(353 14% 5%);
  width: 100px;
}

.about p {
  color: var(--first-Color);
  font-size: 15px;
  line-height: 1.6;
}

@media(min-width:1000px) {
  .about p {
    font-size: 25px;
  }
}

.about p span {
  color: #0075ff;
}

.head {
  margin-bottom: 200px;
}

.head h1 {
  color: var(--first-Color);
  font-size: 30px;
}

.head h1::before {
  content: "";
  height: 3px;
  position: absolute;
  margin-top: 35px;
  margin-right: -140px;
  background-color: hwb(353 14% 5%);
  width: 100px;
}

@media(min-width:500px) {
  .head h1::before {
    margin-top: 40px;
  }
}

@media(min-width:1000px) {
  .head h1 {
    font-size: 50px;
  }

  .head h1::before {
    margin-top: 50px;
  }
}

@media(min-width:500px) {
  .section-1 {
    display: flex;
    /*justify-content:space-around;*/
  }
}

@media(min-width:1000px) {
  .section-1 {
    display: flex;
    /*justify-content:space-around;*/
  }
}

.car-1 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Bmw.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-1:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:1000px) {
  .car-1 {
    width: 400px;
    height: 400px;
    border-radius: 40px;
  }

  .car-1 a h1 #ar-1 {
    margin-left: 100px;
  }
}

.car-1 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;

}

.car-1 a h1 {
  color: var(--second-Color);
  font-size: 30px;
  padding: 10px;
}

.car-1 a h1 #ar-1 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 90px;
}

.car-2 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Mercedes.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-2:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:1000px) {
  .car-2 {
    width: 400px;
    height: 400px;
    border-radius: 40px;
  }

  .car-2 a h1 #ar-2 {
    margin-left: 100px;
  }
}

.car-2 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.car-2 a h1 {
  color: var(--second-Color);
  font-size: 21px;
  padding: 10px;
}

.car-2 a h1 #ar-2 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 90px;
}

@media(min-width:500px) {
  .section-2 {
    display: flex;
    /*justify-content:space-around;*/
  }
}

@media(min-width:1000px) {
  .section-2 {
    display: flex;
    /*justify-content:space-around;*/
  }
}

.car-3 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Audi.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-3:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:1000px) {
  .car-3 {
    width: 400px;
    height: 400px;
    border-radius: 40px;
  }

  .car-3 a h1 #ar-3 {
    margin-left: 100px;
  }
}

.car-3 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.car-3 a h1 {
  color: var(--second-Color);
  font-size: 30px;
  padding: 10px;
}

.car-3 a h1 #ar-3 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 90px;
}

.car-4 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Porche.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-4:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:1000px) {
  .car-4 {
    width: 400px;
    height: 400px;
    border-radius: 40px;
  }

  .car-4 a h1 #ar-4 {
    margin-left: 100px;
  }
}

.car-4 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.car-4 a h1 {
  color: var(--second-Color);
  font-size: 25px;
  padding: 10px;
}

.car-4 a h1 #ar-4 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 90px;
}

@media(min-width:500px) {
  .section-3 {
    display: flex;
    /*justify-content:space-around;*/
  }
}

@media(min-width:1000px) {
  .section-3 {
    display: flex;
    /*justify-content:space-around;*/
  }
}

.car-5 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Ferrari.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-5:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:1000px) {
  .car-5 {
    width: 400px;
    height: 400px;
    border-radius: 40px;
  }

  .car-5 a h1 #ar-5 {
    margin-left: 100px;
  }
}

.car-5 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.car-5 a h1 {
  color: var(--second-Color);
  font-size: 21px;
  padding: 10px;
}

.car-5 a h1 #ar-5 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 120px;
}

.car-6 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Bentley.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-6:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:1000px) {
  .car-6 {
    width: 400px;
    height: 400px;
    border-radius: 40px;
  }

  .car-6 a h1 #ar-6 {
    margin-left: 100px;
  }
}

.car-6 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.car-6 a h1 {
  color: var(--second-Color);
  font-size: 25px;
  padding: 10px;
}

.car-6 a h1 #ar-6 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 90px;
}

@media(min-width:500px) {
  .section-4 {
    display: flex;
    /*justify-content:space-around;*/
  }
}

@media(min-width:1000px) {
  .section-4 {
    display: flex;
    /*justify-content:space-around;*/
  }
}

.car-7 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Lamborghini.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-7:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:1000px) {
  .car-7 {
    width: 400px;
    height: 400px;
    border-radius: 40px;
  }

  .car-7 a h1 #ar-7 {
    margin-left: 100px;
  }
}

.car-7 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.car-7 a h1 {
  color: var(--second-Color);
  font-size: 21px;
  padding: 10px;
}

.car-7 a h1 #ar-7 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 70px;
}

.car-8 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Rolls royce.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-8:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:1000px) {
  .car-8 {
    width: 400px;
    height: 400px;
    border-radius: 40px;
  }

  .car-8 a h1 #ar-8 {
    margin-left: 100px;
  }
}

.car-8 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.car-8 a h1 {
  color: var(--second-Color);
  font-size: 21px;
  padding: 10px;
}

.car-8 a h1 #ar-8 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 70px;
}

.car-9 {
  display: flex;
  margin-left: Auto;
  margin-right: Auto;
  background-image: url("Photos/Bugatti.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.car-9:hover {
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

/*media 1000px width, height 550px and #ar margin-left 250px in (codepen)*/
@media(min-width:500px) {
  .car-9 {
    width: 700px;
    height: 400px;
    border-radius: 40px;
  }

  .car-9 a h1 #ar-9 {
    margin-left: 400px;
  }
}

@media(min-width:1000px) {
  .car-9 {
    width: 900px;
    height: 500px;
    border-radius: 40px;
  }

  .car-9 a h1 #ar-9 {
    margin-left: 600px;
  }
}

.car-9 a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

.car-9 a h1 {
  color: var(--second-Color);
  font-size: 21px;
  padding: 10px;
}

.car-9 a h1 #ar-9 {
  font-size: 20px;
  color: var(--second-Color);
  padding-left: 120px;
}

.thank {
  display: flex;
  justify-content: center;
  background-color: #6e40c9;
  /* background-color:#95C1EB;*/
  border-radius: 10px;
  margin-bottom: 100px;
}

.thank h1 {
  color: var(--second-Color);
  font-size: 12px;
  padding: 10px;
}

@media(min-width:1000px) {
  .thank h1 {
    font-size: 23px;
  }
}


.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--second-Color);
  border-radius: 9px;
  width: 300px;
  height: 50px;
}

.feedback::before {
  content: "";
  width: 302px;
  height: 52px;
  background-image: linear-gradient(90deg, #753a88,
      #cc2b5e,
      #02aab0,
      #00cdac);
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.feedback .logo {
  padding: 10px;
}

.feedback .logo span {
  color: var(--first-Color);
}

/*.feedback .text {}*/

.feedback .text a {
  text-decoration: none;
}

.feedback .text a h1 {
  color: var(--first-Color);
  font-size: 25px;
}



@media(min-width:500px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
}

@media(min-width:1000px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
}

.footer {
  background-image: url("Photos/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color:#C1EDFF;
  background-color: lightblue;*/
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -20px;
  margin-top: 200px;
}

.footer .logo {
  padding: 20px;
  display: flex;
  align-items: center;
}

.footer .logo img {
  width: 50px;
  height: 50px;
  padding-right: 5px;
}

.footer .logo a {
  text-decoration: none;
}

.footer .logo h1 {
  color: var(--first-Color);
}

.footer .con {
  padding: 20px;
}

.footer .con h1 {
  color: var(--first-Color);
}

.footer .con a {
  text-decoration: none;
  color: var(--first-Color);
  font-size: 20px;
  line-height: 2;
}

.footer .con a #mail {
  color: var(--first-Color);
  font-size: 17px;
}

.footer .con a #sms {
  color: var(--first-Color);
  font-size: 17px;
}

.footer .con a #loc {
  color: var(--first-Color);
  font-size: 17px;
}


.footer .soc {
  padding: 20px;
}

.footer .soc h1 {
  color: var(--first-Color);
}

/*.footer .soc a{}*/
.footer .soc a img {
  width: 70px;
  height: 70px;
  padding: 5px;
}

.terms {
  background-image: url("Photos/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color:#C1EDFF;*/
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -20px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.terms p {
  color: var(--first-Color);
}

.terms::before {
  content: "";
  width: 350px;
  height: 1px;
  background-color: #cecece;
  position: absolute;
}

@media(min-width:1000px) {
  .terms::before {
    width: 900px;
  }
}


@keyframes change-place {
  0% {
    transform: translate(0px, -20px);
  }

  50% {
    transform: translate(0px, -40px);
  }

  100% {
    transform: translate(0px, -20px);
  }
}

::selection {
  background-color: #beefff;
  color: var(--first-Color);
}
