:root {
    --mainColor: #111727;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}


body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}


/*
.bg {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    opacity: 0.2;
    visibility: hidden;
    transition: 0.3s;
}*/

.sign-done1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 1000;
}

.sign-done {
    background-color: #111727;
    width: 500px;
    height: 100px;
    visibility: hidden;
    transition: 0.3s;
    border-radius: 20px;
    transform: translate(0px, -60px);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.6);
}

@media (max-width:600px) {
    .sign-done {
        width: 300px;
        height: 100px;
    }
}

.effect {
    visibility: visible;
    opacity: 1;
}

.sign-done1 .sign-done .sign-done-head {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.sign-done1 .sign-done .sign-done-head h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
}

.sign-done1 .sign-done .sign-done-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-done1 .sign-done .sign-done-name #span-1 {
    font-size: 25px;
    padding-right: 5px;
}

.sign-done1 .sign-done .sign-done-name h1 {
    color: #0095f6;
    font-size: 30px;
    font-weight: 900;
}

.sign-done1 .sign-done .sign-done-name #span-2 {
    font-size: 25px;
    padding-left: 5px;
}

.load {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111727;
    z-index: 100;
    animation-name: late;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
}

.load .load-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load .load-1 img {
    width: 70px;
    height: 70px;
    animation-name: load;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.load .load-2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.load .load-2 h1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
}

.main11 {
    display: flex;
    justify-content: space-between;
}

/*.main {}*/

@media(max-width:1000px) {
    .main {
        margin-left: auto;
        margin-right: auto;
    }
}

.logo {
    margin: 15px;
    visibility: hidden;
    transition: 0.5s;
    transform: translate(-120px, 0px);
    opacity: 0;
}

.main .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.main .logo a img {
    width: 55px;
    height: 50px;
    padding-right: 3px;
}

.main .logo a h1 {
    font-size: 25px;
    font-weight: 900;
    color: var(--mainColor);
}

@media(max-width:1000px) {
    .main .logo a img {
        width: 45px;
        height: 40px;
    }

    .main .logo a h1 {
        display: none;
    }
}


.main .first {
    margin-top: 60px;
}

.main .first h1 {
    font-size: 20px;
    color: var(--mainColor);
}

@media (min-width:1000px) {
    .main .first h1 {
        font-size: 30px;
    }
}

.outfoc {
    border-radius: 5px;
}

.main .inputs {
    margin-top: 30px;
}

.main .inputs .input-1 {
    display: flex;
    padding-top: 25px;
}

.main .inputs .input-1 input {
    width: 500px;
    border: none;
    outline: none;
    padding: 6px;
    border-bottom: 1px solid #e8e9e9;
}

.main .inputs .input-1 .check-1 {
    position: absolute;
    transform: translate(465px, 2px);
    display: none;
}

.main .inputs .input-1 .check-1 i {
    font-size: 25px;
    color: green;
}

.main .inputs .input-1 .nocheck-1 {
    position: absolute;
    transform: translate(465px, 2px);
    display: none;
}

.main .inputs .input-1 .nocheck-1 i {
    font-size: 25px;
    color: red;
}

.main .inputs .input-2 {
    display: flex;
    padding-top: 25px;
}

.main .inputs .input-2 input {
    width: 500px;
    border: none;
    outline: none;
    padding: 6px;
    border-bottom: 1px solid #e8e9e9;
}

.main .inputs .input-2 .check-2 {
    position: absolute;
    transform: translate(465px, 2px);
    display: none;
}

.main .inputs .input-2 .check-2 i {
    font-size: 25px;
    color: green;
}

.main .inputs .input-2 .nocheck-2 {
    position: absolute;
    transform: translate(465px, 2px);
    display: none;
}

.main .inputs .input-2 .nocheck-2 i {
    font-size: 25px;
    color: red;
}

.main .inputs .input-3 {
    display: flex;
    padding-top: 25px;
}

.main .inputs .input-3 input {
    width: 500px;
    border: none;
    outline: none;
    padding: 6px;
    border-bottom: 1px solid #e8e9e9;
}

.main .inputs .input-3 .noshow {
    position: absolute;
    transform: translate(420px, 5px);
}

.main .inputs .input-3 .noshow i {
    font-size: 20px;
    color: #a19e9e;
    cursor: pointer;
}

.main .inputs .input-3 .show {
    position: absolute;
    display: none;
    transform: translate(420px, 5px);
}

.main .inputs .input-3 .show i {
    font-size: 20px;
    color: var(--mainColor);
    cursor: pointer;
}

.main .inputs .input-3 .check-3 {
    position: absolute;
    transform: translate(465px, 2px);
    display: none;
}

.main .inputs .input-3 .check-3 i {
    font-size: 25px;
    color: green;
}

.main .inputs .input-3 .nocheck-3 {
    position: absolute;
    transform: translate(465px, 2px);
    display: none;
}

.main .inputs .input-3 .nocheck-3 i {
    font-size: 25px;
    color: red;
}

.main .inputs .input-4 {
    padding-top: 25px;
}

.main .inputs .input-4 button {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #111727;
    cursor: pointer;
}

.main .inputs .input-4 button h1 {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.main .inputs .input-4 button:hover {
    background-color: #1c253d;
}

@media (max-width:500px) {
    .main .inputs .input-1 .check-1 {
        transform: translate(125px, 2px);
    }

    .main .inputs .input-1 .nocheck-1 {
        transform: translate(125px, 2px);
    }

    .main .inputs .input-2 .check-2 {
        transform: translate(125px, 2px);
    }

    .main .inputs .input-2 .nocheck-2 {
        transform: translate(125px, 2px);
    }

    .main .inputs .input-3 .noshow {
        transform: translate(80px, 5px);
    }

    .main .inputs .input-3 .show {
        transform: translate(80px, 5px);
    }

    .main .inputs .input-3 .check-3 {
        transform: translate(125px, 2px);
    }

    .main .inputs .input-3 .nocheck-3 {
        transform: translate(125px, 2px);
    }
}


@media(max-width:1000px) {
    .main .inputs .input-1 {
        justify-content: center;
    }

    .main .inputs .input-1 input {
        width: 300px;
    }

    .main .inputs .input-2 {
        justify-content: center;
    }

    .main .inputs .input-2 input {
        width: 300px;
    }

    .main .inputs .input-3 {
        justify-content: center;
    }

    .main .inputs .input-3 input {
        width: 300px;
    }

    .main .inputs .input-4 button {
        width: 300px;

    }
}

.main .other {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    border: 1px solid #111727;
    border-radius: 30px;
    cursor: pointer;
}


.main .other:hover {
    background-color: #eceeee;
}

.main .other img {
    width: 40px;
    height: 40px;
}

.main .other p {
    font-size: 15px;
    color: var(--mainColor);
}

@media(max-width:1000px) {
    .main .other {
        width: 300px;
    }
}

.main .other-1 {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 40px;
    border: 1px solid #111727;
    border-radius: 30px;
    cursor: pointer;
}

.main .other-1:hover {
    background-color: #eceeee;
}

.main .other-1 img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.main .other-1 p {
    font-size: 15px;
    color: var(--mainColor);
}

@media(max-width:1000px) {
    .main .other-1 {
        width: 300px;
    }
}


.main .other-2 {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.main .other-2 p {
    color: var(--mainColor);
    font-size: 17px;
}

.main .other-2 p a {
    color: #0095f6;
    text-decoration: none;
}

.main .other-2 p a:hover {
    text-decoration: underline;
}


@media(min-width:1000px) {
    .main .other-2 {
        display: none;
    }
}

.main11 .second {
    margin-right: -115px;
}

/*.main11 .second .imgg {}*/

.main11 .second .imgg video {
    /*width:600px;*/
    width: 100%;
    height: 100vh;
}

.main11 .second .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

.main11 .second .btn button {
    border: none;
    background-color: var(--mainColor);
    color: #ffffff;
    padding: 10px;
    border-radius: 19px;
    cursor: pointer;

}

.main11 .second .btn button a {
    text-decoration: none;
    color: #0095f6;
}

.main11 .second .btn button a:hover {
    text-decoration: underline;
}


@media(max-width:1000px) {
    .main11 .second {
        display: none;
    }
}

.effect {
    visibility: visible;
    transform: translate(0px, 0px);
    opacity: 1;
}


@keyframes load {
    0% {
        transform: translate(0px, -20px);
    }

    50% {
        transform: translate(0px, -40px);
    }

    100% {
        transform: translate(0px, -20px);
    }
}

@keyframes late {
    100% {
        opacity: 0.5;
    }
}

::selection {
    background-color: #beefff;
    color: var(--main-Color);
}